.card {
  position: relative;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__image:hover {
  cursor: pointer;
}

.card__delete-button {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-image: url(../images/delete.svg);
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.card__delete-button:hover {
  background-image: url(../images/delete-hover.svg);
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px 0px 0px;
  width: 100%;
  box-sizing: border-box;
}

.card__like-btn {
  background-image: url(../images/heart.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  cursor: pointer;
}

.card__like-btn:hover {
  opacity: 100%;
}

.card__like-btn_active {
  background-image: url(../images/like-active.svg);
  opacity: 1;
  background-repeat: no-repeat;
}

.card__like-btn_active:hover {
  opacity: 0.4;
}

.card__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  max-width: 370px;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    max-width: 250px;
  }
}
